@using System.Web.Mvc.Html
@model System.Collections.Generic.IEnumerable<CSBC.Admin.Web.ViewModels.PlayerHistoryVM>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Season)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        
     
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Season)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
  
        
    </tr>
}

</table>
