@model CSBC.Core.Models.Player

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Player</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Division.Div_Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Division.Div_Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Season.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Season.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team.TeamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.TeamName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DraftID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DraftID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DraftNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DraftNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Coach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoachID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoachID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sponsor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sponsor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SponsorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SponsorID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Scholarship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Scholarship)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyDisc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyDisc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rollover)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rollover)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OutOfTown)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OutOfTown)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefundBatchID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefundBatchID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaidDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaidAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BalanceOwed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BalanceOwed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoteDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoteDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckMemo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckMemo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlaysDown)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaysDown)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlaysUp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaysUp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShoppingCartID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShoppingCartID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PlayerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
